{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
</head>
<body>

    <nav id="navbar" class="flex s-around bg-color">
        <div class="left-nav">
            <h2 class="t-white">Portfolio</h2>
        </div>
        <div class="right-nav">
            <li><a href="#home" class="t-white roboto">Home<i class="fa-solid fa-house"></i></a></li>
            <li><a href="#about" class="t-white roboto">About me<i class="fa-solid fa-"></i></a></li>
            <li><a href="#skills" class="t-white roboto">Skills<i class="fa-solid fa-code"></i></a></li>
            <li><a href="#projects" class="t-white roboto">Project<i class="fa-solid fa-project-diagram"></i></a></li>
            <li><a href="#contact" class="t-white roboto">Contact <i class="fa-solid fa-rocket"></i></a></li>
        </div>
    </nav>

    <section id="home" class="flex s-around sw-80 m-auto">
        <div class="home-left flext items-center">
            <div class="home-content">
                <h6 class="poppins">Hi, i'm</h6>
                <h1 class="t-white">Dhirendra Shah</h1>
                <h4 class="poppins">Frontend Developer</h4>
                <a href="{%static 'pdf/CV.pdf'%}" target="_blank">
                    <button class="btn poppins">Resume</button>
                </a>
                <a class="btn live poppins" id="hireme" href="" target="_blank">Lets Talk</a>
            </div>
        </div>
        <div class="home-right flex s-center items-center">
            <div class="circle flex s-center" id="mainimage">
                <img src="{%static 'images/dhiren.jpg'%}" alt="picture">
            </div>
        </div>
    </section>

    <section id="about">
        <h1 class="t center my-2 t-white f-2">About <menu></menu></h1>
        <div class="about-container flex s-around">
            <div class="about-left flex s-around items-center">
                <img src="{%static 'images/photo1.png'%}" alt="photo">
            </div>
        </div>
        <div class="about-right flex">
            <div class="about-content">
                <h1 class="t-white m-b-1 poppins">Dhirendra Shah</h1>
                <p class="t-white poppins">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam dolorem praesentium numquam iure maxime delectus provident nostrum impedit ut eum!</p>
                <a href="btn" id="hireme" href="">Hire Me</a>
            </div>
        </div>
    </section>

    <section id="skills">
        <h1 class="t-center my-2 t-white f-2">Skills</h1>
        <div class="services-container flex s-around h-50"></div>
        <div class="skills-left flex s-center items-center">
            <img src="{%static 'images/photo2.png'%}" alt="skills image">
        </div>
        <div class="skills-right flex items-center">
            <div class="skills-container">
                <div class="html bar p-relative"><span class="bar-content left t-white">HTML <span class="bar-content right-skills t-white">90%</span></span></div>

                <div class="css bar p-relative"><span class="bar-content left t-white">CSS <span class="bar-content right-skills t-white">90%</span></span></div>

                <div class="tailwind bar p-relative"><span class="bar-content left t-white">Tailwind CSS <span class="bar-content right-skills t-white">90%</span></span></div>
                
                <div class="js bar p-relative"><span class="bar-content left t-white">Java Scrips <span class="bar-content right-skills t-white">70%</span></span></div>

                <div class="react bar p-relative"><span class="bar-content left t-white">React Js <span class="bar-content right-skills t-white">60%</span></span></div>

                <div class="python bar p-relative"><span class="bar-content left t-white">Python With Django <span class="bar-content right-skills t-white">50%</span></span></div>
            </div>
        </div>
    </section>

    <section id="project">
        <h1 class="t-center my-2 t-white f-2">Project</h1>
        <div class="project-container flex s-center">
            <div class="project-item flex f-col s-center items-center">
                <h1 class="t-white poppins">Amazone clone</h1>
                <p class="t-white poppins">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, maxime!</p>
                <div class="button flex s-round">
                    <a href="" target="_blank" class="btn mx-1 m-top">GitHub</a>
                </div>
            </div>
            <div class="project-item flex f-col s-center items-center">
                <h1 class="t-white poppins">My Portfolio</h1>
                <p class="t-white poppins">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, maxime!</p>
                <div class="button flex s-round">
                    <a href="" target="_blank" class="btn mx-1 m-top">GitHub</a>
                </div>
            </div>
        </div>
    </section>


    <section id="contact" class="m-b-1">
        <h1 class="t-center my-2 t-white f-2">Contact Me</h1>
        <div class="contact-container flex s-around items-center">
            <div class="form" id="contactform">
                <form action="" method="post">
                    <div class="name form-div">
                        <input type="text" name="name" id="name" class="poppins" placeholder="Enter your name">
                    </div>
                    <div class="email form-div">
                        <input type="email" name="email" id="" class="poppins" placeholder="Enter your email">
                    </div>
                    <div class="phone form-div">
                        <input type="phone" name="number" id="" class="poppins" placeholder="Enter your phone"required>
                    </div>
                    <div class="textarea form-div">
                        <textarea name="content" id="textarea" cols="30" rows="10" class="poppins" placeholder="Enter your messages"></textarea>
                    </div>
                    <button type="submit" class="btn poppins" id="submit">send</button>

                </form>
            </div>
        </div>
    </section>

    <footer id="footer">
        <ul class="flex s-center w-80 m-automy-2 res">
            <li><a href="#home" class="poppins">Home</a></li>
            <li><a href="#about" class="poppins">About Me</a></li>
            <li><a href="#skills" class="poppins">Skills</a></li>
            <li><a href="#project" class="poppins">Project</a></li>
            <li><a href="#portfolio" class="poppins">Home</a></li>
        </ul>
        <ul class="flex s-center w-80 font-awesome">
            <a href="" target=_blank>
                <li><i class="fa-brands fa-linkedin-in"></i></li>
            </a>
            <a href="" target=_blank>
                <li><i class="fa-brands fa-github"></i></li>
            </a>
            <a href="" target=_blank>
                <li><i class="fa-brands fa-instagram"></i></li>
            </a>
        </ul>
        <p class="t-center my-2 poppins">copy; All Right Reserved -<span class="copy-white poppins">Error By Night. </span></p>
    </footer>
</body>
</html>